@font-face {
    font-family: "Cassidy_Club_Calligraphy";
    src: url('ccc.ttf');
}


/*base*/

body {
    background-color: white;
}

h1 {
    color: black;
    font-family: "Cassidy_Club_Calligraphy";
    font-size: 120;
    text-align: center;
}


/*menu stuff*/

div.centered {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

img.banner {
    width: 100%;
}

.menu {
    background: black;
    color: white;
    font-family: "Cassidy_Club_Calligraphy";
    font-size: 30;
    text-align: right;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 32;
    transition: font 0.5s ease
}

.menu a:hover {
    font-size: 33;
    transition: font 0.3s ease
}